<html>
  <head>
    <title>Templating in Flask</title>
  </head>
  <body>
      <h1><p style="text-align:center">
    Hello World!
          </p></h1>
    <table>
        <tr>
            <td> Name </td> <td> Description </td>
        </tr>
        <tr>
            <td> User ID </td> <td> {{ user_id  }} </td>
        </tr>
        <tr> 
            <td> IP address  </td> <td> {{ ip  }} </td>
        </tr>
        <tr>
            <td> User agent </td> <td> {{ agent  }} </td>
        </tr>

    </table>
  </body>
</html>
